# ==================================
# General Settings
# ==================================
* text=auto


# ==================================
# Specific EOL for Shell Scripts
# ==================================
*.sh       eol=lf


# ==================================
# Mark Binary Files
# ==================================
*.png      -text
*.jpg      -text
*.jpeg     -text
*.gif      -text
*.pdf      -text
*.zip      -text
*.gz       -text


# ==================================
# Git LFS for Large Assets
# ==================================
# *.psd      filter=lfs diff=lfs merge=lfs -text
# *.ai       filter=lfs diff=lfs merge=lfs -text